<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title><%- title %></title>
    <meta
      name="description"
      content="Codebase - Bootstrap 4 Admin Template &amp; UI Framework created by pixelcave and published on Themeforest | This is the demo of Codebase! You need to purchase a license for legal use! | DEMO"
    />
    <meta name="author" content="pixelcave" />
    <meta name="robots" content="noindex, nofollow" />
    <meta
      property="og:title"
      content="Codebase - Bootstrap 4 Admin Template &amp; UI Framework | DEMO"
    />
    <meta property="og:site_name" content="Codebase" />
    <meta
      property="og:description"
      content="Codebase - Bootstrap 4 Admin Template &amp; UI Framework created by pixelcave and published on Themeforest | This is the demo of Codebase! You need to purchase a license for legal use! | DEMO"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="stylesheet" id="css-main" href="/css/codebase.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <link rel="stylesheet" href="/css/font-awesome.css">
  </head>
  <body>
    <div id="page-container" class="main-content-boxed">
      <main id="main-container">
        <div
          class="bg-body-dark bg-pattern"
          style="
            background-image: url('assets/media/various/bg-pattern-inverse.png');
          "
        >
          <div class="row mx-0 justify-content-center">
            <div class="hero-static col-lg-6 col-xl-4">
              <div class="content content-full overflow-hidden">
                <div class="py-30 text-center">
                  <a class="link-effect font-w700" href="index.html">
                    <i class="si si-fire"></i>
                    <span class="font-size-xl text-primary-dark">node</span
                    ><span class="font-size-xl">panel</span>
                  </a>
                </div>

                <%- body %>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>


    <%- script %>
  </body>
</html>
