<h1>alighamzehei</h1>

<button id="btn">send</button>
<style>
  body {
    background-color: aquamarine;
  }
</style>

<script src="/socket.io.js"></script>

<script>
  const socket = io("wss://node.ideal-it.ir");

  socket.on("connect", () => {
    

    const btn = document.querySelector("#btn");

    btn.addEventListener("click", (e) => {

      socket.emit("action", { massge: "hwllo world" });

    });

    socket.on("call", (data) => {
      console.log(data);
    });
  });

  socket.on("disconnect", () => {
          socket.emit("disconnect", { xNmae: 'alihamzehei dis' });
  });
</script>
